
header{background-color: blue;
text-align: center;
padding: 10px;
color: white;}

.col{color: rgb(red, green, blue);

.img{background-color: green;

}

body{background-color: rgb(red, green, blue);
text-align: center;}

h1{color: blue;
text-align: center;}

}
